<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>     <%=  user_signed_in? ? @post.user.name : "Redacted"%></p>
<% if  @post.user == current_user%>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', @post, 'data-turbo-method': :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
